In [37]:
#Importamos la librerías y variables necesarias
import mysql.connector
import sqlite3
import pandas as pd
import numpy as np
from flask import Flask, jsonify, request
import pickle
import os
#################################################################################
#################################################################################
"""Definimos las variables generales para atacar la base de datos"""
#Definimos un cursor con el que atacar a la DB
cnx = mysql.connector.connect(
    user="admin",
    password="admin123",
    host="test-db.cze2nnbbx5pc.eu-west-3.rds.amazonaws.com",
    database="prueba")
cursor = cnx.cursor()
#Definimos una función mediante la que ejecutar las querys
def make_query(code):
    cursor.execute(code)
    results = cursor.fetchall()
    cnx.commit()
    return(results)
#Definimos una función mediante la que ejecutar las querys devolviendo un dataframe
def make_query_dataframe(code):
    cursor.execute(code)
    results = cursor.fetchall()
    column_names = [desc[0] for desc in cursor.description]  # Obtener los nombres de las columnas
    df = pd.DataFrame(results, columns=column_names)  # Crear el DataFrame
    return df

In [29]:
current_new=pd.read_table("trabajadores_actuales.csv")

In [30]:
current_new

,id_employee,name,involvement,performance,environment,satisfaction,life_balance,age,travel,department,...,marital_status,income,previous_companies,salary_hike,stock_option,total_working_years,training_ly,years_company,last_promotion,years_curr_manager
0,1,Jennifer Grant,High,Excellent,High,3,2,51,2,Sales,...,2,2148,1,11,0,1,6,1,0,0
1,3,Joel Rodgers,High,Excellent,Medium,5,4,32,0,Research & Development,...,1,1562,1,15,3,5,2,5,0,3
2,4,Gabriel Henson PhD,Medium,Excellent,Very High,4,1,38,0,Research & Development,...,1,2358,3,11,3,13,5,8,7,5
3,5,James Bryant,High,Excellent,Very High,7,1,32,0,Research & Development,...,1,1868,4,12,2,9,2,6,0,4
4,6,Michelle Wade,High,Excellent,High,9,1,46,0,Research & Development,...,1,2542,3,13,0,28,5,7,7,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3693,4405,Rebecca Carlson,Medium,Excellent,High,7,1,29,0,Sales,...,1,1456,1,18,0,6,2,6,1,5
3694,4406,Kimberly Tucker,High,Excellent,Very High,5,2,42,0,Research & Development,...,2,2147,3,17,1,10,5,3,0,2
3695,4407,Warren Phillips,Medium,Excellent,Very High,7,2,29,0,Research & Development,...,1,2625,2,15,0,10,2,3,0,2
3696,4408,Brendan Brown,High,Outstanding,Low,5,2,25,0,Research & Development,...,2,2585,0,20,0,5,4,4,1,2
3697,4409,Troy Rivera,Medium,Excellent,Very High,5,1,42,0,Sales,...,3,2063,0,14,1,10,2,9,7,8

In [38]:
#Creamos la query para la creación de la tabla y definimos los tipos de campos
make_query("""CREATE TABLE current_employees_2 (
    id_employee INT,
    name VARCHAR(50),
    involvement VARCHAR(50),
    performance VARCHAR(50),
    environment VARCHAR(50),
    satisfaction INT,
    life_balance INT,
    age INT,
    travel INT,
    department VARCHAR(50),
    distance_home INT,
    education VARCHAR(50),
    education_field VARCHAR(50),
    gender VARCHAR(50),
    job_level INT,
    role VARCHAR(50),
    marital_status INT,
    income INT,
    previous_companies INT,
    salary_hike INT,
    stock_option INT,
    total_working_years INT,
    training_ly INT,
    years_company INT,
    last_promotion INT,
    years_curr_manager INT,
    PRIMARY KEY (id_employee))"""
)

# Cargar los datos del CSV a la tabla
for row in current_new.itertuples(index=False):
    values = ', '.join("'" + str(value).replace("'", "''") + "'" for value in row)
    query = f"INSERT INTO current_employees_2 VALUES ({values})"
    cursor.execute(query)
    print(row)
# Confirmar los cambios en la base de datos
cnx.commit()
# Cerrar el cursor y la conexión
cursor.close()
cnx.close()

Pandas(id_employee=1, name='Jennifer Grant', involvement='High', performance='Excellent', environment='High', satisfaction=3, life_balance=2, age=51, travel=2, department='Sales', distance_home=6, education='College', education_field='Life Sciences', gender='Female', job_level=1, role='Healthcare Representative', marital_status=2, income=2148, previous_companies=1, salary_hike=11, stock_option=0, total_working_years=1, training_ly=6, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=3, name='Joel Rodgers', involvement='High', performance='Excellent', environment='Medium', satisfaction=5, life_balance=4, age=32, travel=0, department='Research & Development', distance_home=17, education='Master', education_field='Other', gender='Male', job_level=4, role='Sales Executive', marital_status=1, income=1562, previous_companies=1, salary_hike=15, stock_option=3, total_working_years=5, training_ly=2, years_company=5, last_promotion=0, years_curr_manager=3)
Pandas(id_employee=4, name='Gabriel Henson PhD', involvement='Medium', performance='Excellent', environment='Very High', satisfaction=4, life_balance=1, age=38, travel=0, department='Research & Development', distance_home=2, education='Doctor', education_field='Life Sciences', gender='Male', job_level=3, role='Human Resources', marital_status=1, income=2358, previous_companies=3, salary_hike=11, stock_option=3, total_working_years=13, training_ly=5, years_company=8, last_promotion=7, years_curr_manager=5)
Pandas(id_employee=5, name='James Bryant', involvement='High', performance='Excellent', environment='Very High', satisfaction=7, life_balance=1, age=32, travel=0, department='Research & Development', distance_home=10, education='Below College', education_field='Medical', gender='Male', job_level=1, role='Sales Executive', marital_status=1, income=1868, previous_companies=4, salary_hike=12, stock_option=2, total_working_years=9, training_ly=2, years_company=6, last_promotion=0, years_curr_manager=4)
Pandas(id_employee=6, name='Michelle Wade', involvement='High', performance='Excellent', environment='High', satisfaction=9, life_balance=1, age=46, travel=0, department='Research & Development', distance_home=8, education='Bachelor', education_field='Life Sciences', gender='Female', job_level=4, role='Research Director', marital_status=1, income=2542, previous_companies=3, salary_hike=13, stock_option=0, total_working_years=28, training_ly=5, years_company=7, last_promotion=7, years_curr_manager=7)
Pandas(id_employee=8, name='Noah Harris', involvement='High', performance='Outstanding', environment='Low', satisfaction=5, life_balance=3, age=29, travel=0, department='Research & Development', distance_home=18, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=2, role='Sales Executive', marital_status=3, income=2082, previous_companies=2, salary_hike=22, stock_option=3, total_working_years=10, training_ly=2, years_company=0, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=9, name='Tyler Henderson', involvement='High', performance='Outstanding', environment='Medium', satisfaction=4, life_balance=1, age=31, travel=0, department='Research & Development', distance_home=1, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=3, role='Laboratory Technician', marital_status=2, income=2124, previous_companies=0, salary_hike=21, stock_option=0, total_working_years=10, training_ly=2, years_company=9, last_promotion=7, years_curr_manager=8)
Pandas(id_employee=10, name='Jasmine Hayes', involvement='High', performance='Excellent', environment='Medium', satisfaction=5, life_balance=1, age=25, travel=0, department='Research & Development', distance_home=7, education='Master', education_field='Medical', gender='Female', job_level=4, role='Laboratory Technician', marital_status=3, income=2027, previous_companies=1, salary_hike=13, stock_option=1, total_working_years=6, training_ly=2, years_company=6, last_promotion=1, years_curr_manager=5)
Pandas(id_employee=11, name='Brandon Buchanan', involvement='Medium', performance='Excellent', environment='High', satisfaction=5, life_balance=1, age=45, travel=0, department='Research & Development', distance_home=17, education='College', education_field='Medical', gender='Male', job_level=2, role='Laboratory Technician', marital_status=2, income=3584, previous_companies=0, salary_hike=13, stock_option=2, total_working_years=21, training_ly=2, years_company=20, last_promotion=4, years_curr_manager=10)
Pandas(id_employee=12, name='Robert Aguirre', involvement='High', performance='Excellent', environment=nan, satisfaction=6, life_balance=1, age=36, travel=0, department='Research & Development', distance_home=28, education='Below College', education_field='Life Sciences', gender='Male', job_level=1, role='Laboratory Technician', marital_status=2, income=2758, previous_companies=0, salary_hike=12, stock_option=2, total_working_years=16, training_ly=2, years_company=15, last_promotion=10, years_curr_manager=11)
Pandas(id_employee=13, name='Nicole Rosales', involvement='High', performance='Excellent', environment='Very High', satisfaction=6, life_balance=1, age=55, travel=0, department='Research & Development', distance_home=14, education='Master', education_field='Life Sciences', gender='Female', job_level=1, role='Sales Executive', marital_status=2, income=5675, previous_companies=0, salary_hike=17, stock_option=0, total_working_years=37, training_ly=2, years_company=36, last_promotion=4, years_curr_manager=13)
Pandas(id_employee=15, name='William Pham', involvement='High', performance='Excellent', environment='Very High', satisfaction=7, life_balance=3, age=28, travel=0, department='Research & Development', distance_home=1, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=1, role='Manufacturing Director', marital_status=2, income=2428, previous_companies=1, salary_hike=14, stock_option=0, total_working_years=5, training_ly=2, years_company=5, last_promotion=0, years_curr_manager=4)
Pandas(id_employee=16, name='Nicholas Parker', involvement='High', performance='Excellent', environment='High', satisfaction=5, life_balance=4, age=37, travel=0, department='Research & Development', distance_home=1, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=2, role='Healthcare Representative', marital_status=1, income=2123, previous_companies=4, salary_hike=11, stock_option=0, total_working_years=7, training_ly=2, years_company=5, last_promotion=0, years_curr_manager=1)
Pandas(id_employee=17, name='Michael Chen', involvement='Medium', performance='Excellent', environment='Very High', satisfaction=8, life_balance=3, age=21, travel=0, department='Research & Development', distance_home=3, education='College', education_field='Life Sciences', gender='Male', job_level=1, role='Laboratory Technician', marital_status=2, income=2526, previous_companies=1, salary_hike=12, stock_option=3, total_working_years=3, training_ly=3, years_company=3, last_promotion=1, years_curr_manager=0)
Pandas(id_employee=18, name='Joshua Villarreal', involvement='High', performance='Excellent', environment='Low', satisfaction=7, life_balance=4, age=37, travel=0, department='Research & Development', distance_home=1, education='Bachelor', education_field='Medical', gender='Male', job_level=2, role='Sales Executive', marital_status=2, income=2483, previous_companies=2, salary_hike=13, stock_option=1, total_working_years=15, training_ly=2, years_company=5, last_promotion=0, years_curr_manager=2)
Pandas(id_employee=19, name='Christopher Larson', involvement='Medium', performance='Excellent', environment='Medium', satisfaction=9, life_balance=1, age=35, travel=0, department='Sales', distance_home=7, education='Master', education_field='Life Sciences', gender='Male', job_level=1, role='Sales Representative', marital_status=1, income=2198, previous_companies=7, salary_hike=16, stock_option=0, total_working_years=10, training_ly=5, years_company=7, last_promotion=6, years_curr_manager=2)
Pandas(id_employee=20, name='Janet Smith', involvement='High', performance='Excellent', environment='Low', satisfaction=9, life_balance=1, age=38, travel=0, department='Research & Development', distance_home=8, education='Bachelor', education_field='Life Sciences', gender='Female', job_level=1, role='Manager', marital_status=1, income=2697, previous_companies=1, salary_hike=11, stock_option=1, total_working_years=8, training_ly=5, years_company=8, last_promotion=7, years_curr_manager=7)
Pandas(id_employee=21, name='Jason Browning', involvement='High', performance='Excellent', environment='High', satisfaction=5, life_balance=1, age=26, travel=0, department='Research & Development', distance_home=1, education='Master', education_field='Other', gender='Male', job_level=2, role='Laboratory Technician', marital_status=3, income=2014, previous_companies=1, salary_hike=18, stock_option=0, total_working_years=6, training_ly=3, years_company=6, last_promotion=1, years_curr_manager=4)
Pandas(id_employee=22, name='Christopher Yang', involvement='Medium', performance='Outstanding', environment='Low', satisfaction=5, life_balance=1, age=50, travel=0, department='Sales', distance_home=8, education='Master', education_field='Life Sciences', gender='Male', job_level=1, role='Research Scientist', marital_status=2, income=2356, previous_companies=3, salary_hike=23, stock_option=0, total_working_years=28, training_ly=2, years_company=10, last_promotion=1, years_curr_manager=6)
Pandas(id_employee=23, name='Jessica Novak', involvement='High', performance='Excellent', environment='High', satisfaction=7, life_balance=1, age=53, travel=0, department='Research & Development', distance_home=11, education='Master', education_field='Life Sciences', gender='Female', job_level=2, role='Research Scientist', marital_status=1, income=2114, previous_companies=3, salary_hike=11, stock_option=0, total_working_years=21, training_ly=2, years_company=5, last_promotion=1, years_curr_manager=3)
Pandas(id_employee=24, name='Paul Thompson', involvement='Low', performance='Excellent', environment='Medium', satisfaction=5, life_balance=1, age=42, travel=0, department='Research & Development', distance_home=4, education='Master', education_field='Life Sciences', gender='Male', job_level=1, role='Manufacturing Director', marital_status=3, income=1908, previous_companies=1, salary_hike=14, stock_option=0, total_working_years=0, training_ly=4, years_company=20, last_promotion=11, years_curr_manager=6)
Pandas(id_employee=25, name='Eric Moore', involvement='High', performance='Excellent', environment='Medium', satisfaction=6, life_balance=1, age=29, travel=0, department='Research & Development', distance_home=16, education='Master', education_field='Medical', gender='Male', job_level=1, role='Laboratory Technician', marital_status=2, income=2918, previous_companies=1, salary_hike=11, stock_option=1, total_working_years=10, training_ly=2, years_company=10, last_promotion=0, years_curr_manager=9)
Pandas(id_employee=26, name='Nicole Harmon', involvement='High', performance='Excellent', environment='Medium', satisfaction=9, life_balance=1, age=55, travel=0, department='Research & Development', distance_home=1, education='Master', education_field='Other', gender='Female', job_level=1, role='Research Scientist', marital_status=3, income=1933, previous_companies=3, salary_hike=11, stock_option=0, total_working_years=12, training_ly=2, years_company=10, last_promotion=0, years_curr_manager=8)
Pandas(id_employee=27, name='Melissa Peterson', involvement='High', performance='Outstanding', environment='Low', satisfaction=6, life_balance=2, age=26, travel=0, department='Research & Development', distance_home=9, education='Bachelor', education_field='Life Sciences', gender='Female', job_level=1, role='Manager', marital_status=3, income=2090, previous_companies=1, salary_hike=22, stock_option=0, total_working_years=5, training_ly=3, years_company=5, last_promotion=3, years_curr_manager=3)
Pandas(id_employee=28, name='Gregory Valdez IV', involvement='High', performance='Excellent', environment='Very High', satisfaction=9, life_balance=1, age=37, travel=0, department='Sales', distance_home=5, education='Below College', education_field='Marketing', gender='Male', job_level=1, role='Research Scientist', marital_status=2, income=4326, previous_companies=1, salary_hike=11, stock_option=0, total_working_years=17, training_ly=2, years_company=17, last_promotion=5, years_curr_manager=7)
Pandas(id_employee=30, name='Sara Aguilar', involvement='Medium', performance='Excellent', environment='Very High', satisfaction=6, life_balance=2, age=38, travel=0, department='Sales', distance_home=2, education='Bachelor', education_field='Marketing', gender='Female', job_level=1, role='Manager', marital_status=2, income=2020, previous_companies=9, salary_hike=12, stock_option=0, total_working_years=10, training_ly=3, years_company=2, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=32, name='Hayden Matthews', involvement='Medium', performance='Excellent', environment='Very High', satisfaction=7, life_balance=4, age=28, travel=0, department='Research & Development', distance_home=7, education='Bachelor', education_field='Other', gender='Male', job_level=1, role='Human Resources', marital_status=1, income=2318, previous_companies=1, salary_hike=13, stock_option=0, total_working_years=5, training_ly=6, years_company=5, last_promotion=0, years_curr_manager=2)
Pandas(id_employee=33, name='Emily Bradley', involvement='High', performance='Excellent', environment='High', satisfaction=7, life_balance=1, age=49, travel=0, department='Research & Development', distance_home=1, education='Below College', education_field='Medical', gender='Female', job_level=2, role='Research Scientist', marital_status=2, income=2514, previous_companies=9, salary_hike=13, stock_option=0, total_working_years=22, training_ly=2, years_company=3, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=34, name='Daniel Harris', involvement='High', performance='Excellent', environment='High', satisfaction=5, life_balance=1, age=36, travel=0, department='Sales', distance_home=5, education='Bachelor', education_field='Technical Degree', gender='Male', job_level=3, role='Sales Executive', marital_status=1, income=2614, previous_companies=4, salary_hike=14, stock_option=0, total_working_years=10, training_ly=2, years_company=8, last_promotion=7, years_curr_manager=7)
Pandas(id_employee=35, name='Dr. Ian Watson', involvement='High', performance='Excellent', environment='Very High', satisfaction=5, life_balance=4, age=31, travel=2, department='Research & Development', distance_home=9, education='Master', education_field='Medical', gender='Male', job_level=1, role='Sales Executive', marital_status=3, income=1372, previous_companies=1, salary_hike=16, stock_option=1, total_working_years=2, training_ly=4, years_company=2, last_promotion=2, years_curr_manager=2)
Pandas(id_employee=37, name='Elijah Mahoney', involvement='High', performance='Excellent', environment='Medium', satisfaction=6, life_balance=2, age=37, travel=0, department='Sales', distance_home=9, education='Below College', education_field='Marketing', gender='Male', job_level=1, role='Laboratory Technician', marital_status=3, income=2734, previous_companies=1, salary_hike=14, stock_option=0, total_working_years=4, training_ly=3, years_company=4, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=38, name='Robert Ramirez', involvement='High', performance='Excellent', environment='High', satisfaction=6, life_balance=1, age=42, travel=0, department='Sales', distance_home=2, education='College', education_field='Marketing', gender='Male', job_level=3, role='Research Director', marital_status=2, income=3697, previous_companies=5, salary_hike=13, stock_option=0, total_working_years=23, training_ly=2, years_company=20, last_promotion=4, years_curr_manager=8)
Pandas(id_employee=40, name='Steve Baldwin', involvement='Medium', performance='Excellent', environment='High', satisfaction=5, life_balance=1, age=35, travel=0, department='Sales', distance_home=20, education='College', education_field='Life Sciences', gender='Male', job_level=1, role='Laboratory Technician', marital_status=3, income=1874, previous_companies=0, salary_hike=19, stock_option=0, total_working_years=12, training_ly=2, years_company=11, last_promotion=6, years_curr_manager=9)
Pandas(id_employee=41, name='Erica Rich', involvement='Medium', performance='Excellent', environment='High', satisfaction=7, life_balance=1, age=36, travel=1, department='Research & Development', distance_home=8, education='Bachelor', education_field='Other', gender='Female', job_level=3, role='Sales Executive', marital_status=2, income=1756, previous_companies=4, salary_hike=12, stock_option=2, total_working_years=4, training_ly=2, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=42, name='Benjamin Moore', involvement='Medium', performance='Excellent', environment='Very High', satisfaction=7, life_balance=4, age=51, travel=0, department='Research & Development', distance_home=2, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=2, role='Laboratory Technician', marital_status=3, income=2155, previous_companies=5, salary_hike=13, stock_option=0, total_working_years=13, training_ly=2, years_company=4, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=43, name='Cameron Townsend', involvement='High', performance='Excellent', environment='Very High', satisfaction=8, life_balance=1, age=41, travel=0, department='Research & Development', distance_home=29, education='Below College', education_field='Life Sciences', gender='Male', job_level=1, role='Laboratory Technician', marital_status=3, income=2772, previous_companies=1, salary_hike=12, stock_option=0, total_working_years=22, training_ly=6, years_company=22, last_promotion=0, years_curr_manager=4)
Pandas(id_employee=44, name='Mr. Samuel Lynn', involvement='High', performance='Excellent', environment='Very High', satisfaction=3, life_balance=3, age=18, travel=2, department='Sales', distance_home=7, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=1, role='Research Scientist', marital_status=1, income=1347, previous_companies=1, salary_hike=15, stock_option=0, total_working_years=0, training_ly=3, years_company=0, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=45, name='Benjamin Allen', involvement='Medium', performance='Outstanding', environment='Medium', satisfaction=7, life_balance=1, age=28, travel=0, department='Research & Development', distance_home=9, education='Bachelor', education_field='Medical', gender='Male', job_level=1, role='Sales Representative', marital_status=3, income=2584, previous_companies=0, salary_hike=23, stock_option=2, total_working_years=9, training_ly=2, years_company=8, last_promotion=0, years_curr_manager=7)
Pandas(id_employee=46, name='David Evans', involvement='High', performance='Excellent', environment='Medium', satisfaction=5, life_balance=1, age=31, travel=0, department='Research & Development', distance_home=8, education='Below College', education_field='Technical Degree', gender='Male', job_level=1, role='Manufacturing Director', marital_status=3, income=1947, previous_companies=4, salary_hike=12, stock_option=1, total_working_years=10, training_ly=2, years_company=8, last_promotion=7, years_curr_manager=7)

In [32]:
old_employees=pd.read_table("trabajadores_historico.csv")

In [35]:
#Creamos la query para la creación de la tabla y definimos los tipos de campos
make_query("""CREATE TABLE old_employees_2 (
    id_employee INT,
    name VARCHAR(50),
    involvement VARCHAR(50),
    performance VARCHAR(50),
    environment VARCHAR(50),
    satisfaction INT,
    life_balance INT,
    age INT,
    travel INT,
    department VARCHAR(50),
    distance_home INT,
    education VARCHAR(50),
    education_field VARCHAR(50),
    gender VARCHAR(50),
    job_level INT,
    role VARCHAR(50),
    marital_status INT,
    income INT,
    previous_companies INT,
    salary_hike INT,
    stock_option INT,
    total_working_years INT,
    training_ly INT,
    years_company INT,
    last_promotion INT,
    years_curr_manager INT,
    PRIMARY KEY (id_employee))"""
)

# Cargar los datos del CSV a la tabla
for row in old_employees.itertuples(index=False):
    values = ', '.join("'" + str(value).replace("'", "''") + "'" for value in row)
    query = f"INSERT INTO old_employees_2 VALUES ({values})"
    cursor.execute(query)
    print(row)
# Confirmar los cambios en la base de datos
cnx.commit()
# Cerrar el cursor y la conexión
cursor.close()
cnx.close()

Pandas(id_employee=2, name='Brittany Dunn', involvement='Medium', performance='Outstanding', environment='High', satisfaction=4, life_balance=2, age=31, travel=0, department='Research & Development', distance_home=10, education='Below College', education_field='Life Sciences', gender='Female', job_level=1, role='Research Scientist', marital_status=2, income=1842.0, previous_companies=0, salary_hike=23, stock_option=0, total_working_years=6, training_ly=3, years_company=5, last_promotion=1, years_curr_manager=4)
Pandas(id_employee=7, name='Samuel Kim', involvement='High', performance='Outstanding', environment='Low', satisfaction=1, life_balance=1, age=28, travel=2, department='Research & Development', distance_home=13, education='College', education_field='College', gender='Medical', job_level=2, role='Sales Executive', marital_status=3, income=1554.0, previous_companies=2, salary_hike=20, stock_option=0, total_working_years=5, training_ly=2, years_company=0, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=14, name='Jerry Rose', involvement='Medium', performance='Excellent', environment='Low', satisfaction=3, life_balance=4, age=47, travel=0, department='Research & Development', distance_home=1, education='Below College', education_field='Medical', gender='Male', job_level=1, role='Research Scientist', marital_status=3, income=2209.0, previous_companies=1, salary_hike=11, stock_option=2, total_working_years=10, training_ly=4, years_company=10, last_promotion=9, years_curr_manager=9)
Pandas(id_employee=29, name='Curtis Brown', involvement='Medium', performance='Excellent', environment='Very High', satisfaction=1, life_balance=3, age=44, travel=2, department='Research & Development', distance_home=1, education='College', education_field='College', gender='Medical', job_level=2, role='Research Scientist', marital_status=2, income=1613.0, previous_companies=3, salary_hike=14, stock_option=0, total_working_years=19, training_ly=2, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=31, name='Mr. Kyle Ramsey', involvement='Medium', performance='Excellent', environment='Low', satisfaction=3, life_balance=2, age=26, travel=2, department='Research & Development', distance_home=4, education='Bachelor', education_field='Medical', gender='Male', job_level=3, role='Research Scientist', marital_status=2, income=1725.0, previous_companies=2, salary_hike=11, stock_option=0, total_working_years=5, training_ly=5, years_company=3, last_promotion=0, years_curr_manager=2)
Pandas(id_employee=36, name='Steven Ochoa', involvement='High', performance='Excellent', environment='Very High', satisfaction=4, life_balance=3, age=26, travel=0, department='Research & Development', distance_home=8, education='Bachelor', education_field='Medical', gender='Male', job_level=2, role='Manager', marital_status=3, income=2229.0, previous_companies=1, salary_hike=12, stock_option=2, total_working_years=8, training_ly=5, years_company=8, last_promotion=7, years_curr_manager=4)
Pandas(id_employee=39, name='Eric Robinson', involvement='Medium', performance='Excellent', environment='High', satisfaction=1, life_balance=4, age=18, travel=1, department='Research & Development', distance_home=1, education='Master', education_field='Master', gender='Life Sciences', job_level=1, role='Sales Executive', marital_status=3, income=1409.0, previous_companies=1, salary_hike=14, stock_option=1, total_working_years=0, training_ly=3, years_company=0, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=60, name='Wendy Sullivan', involvement='High', performance='Excellent', environment='High', satisfaction=5, life_balance=1, age=52, travel=0, department='Research & Development', distance_home=7, education='Below College', education_field='Life Sciences', gender='Female', job_level=2, role='Research Scientist', marital_status=2, income=1978.0, previous_companies=2, salary_hike=18, stock_option=1, total_working_years=11, training_ly=2, years_company=8, last_promotion=7, years_curr_manager=7)
Pandas(id_employee=66, name='Alexander Bowman', involvement='Medium', performance='Excellent', environment='Low', satisfaction=4, life_balance=1, age=28, travel=0, department='Research & Development', distance_home=9, education='Master', education_field='Medical', gender='Male', job_level=1, role='Sales Executive', marital_status=2, income=1532.0, previous_companies=5, salary_hike=14, stock_option=0, total_working_years=5, training_ly=4, years_company=3, last_promotion=2, years_curr_manager=2)
Pandas(id_employee=70, name='Karen Miller', involvement='High', performance='Excellent', environment='Very High', satisfaction=1, life_balance=2, age=39, travel=0, department='Research & Development', distance_home=1, education='Below College', education_field='Below College', gender='Medical', job_level=1, role='Laboratory Technician', marital_status=3, income=1678.0, previous_companies=4, salary_hike=17, stock_option=0, total_working_years=12, training_ly=0, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=79, name='Danielle Schultz', involvement='High', performance='Excellent', environment='Medium', satisfaction=4, life_balance=2, age=29, travel=0, department='Research & Development', distance_home=29, education='Bachelor', education_field='Medical', gender='Female', job_level=1, role='Research Scientist', marital_status=2, income=1402.0, previous_companies=1, salary_hike=13, stock_option=2, total_working_years=7, training_ly=0, years_company=7, last_promotion=0, years_curr_manager=7)
Pandas(id_employee=100, name='Samantha Baker', involvement='Medium', performance='Excellent', environment='Low', satisfaction=4, life_balance=2, age=21, travel=0, department='Research & Development', distance_home=9, education='Bachelor', education_field='Medical', gender='Female', job_level=4, role='Manufacturing Director', marital_status=3, income=1485.0, previous_companies=1, salary_hike=12, stock_option=0, total_working_years=3, training_ly=5, years_company=3, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=106, name='Brenda Williams MD', involvement='Low', performance='Outstanding', environment='Very High', satisfaction=1, life_balance=2, age=33, travel=0, department='Human Resources', distance_home=33, education='College', education_field='College', gender='Human Resources', job_level=5, role='Manager', marital_status=3, income=1513.0, previous_companies=1, salary_hike=21, stock_option=1, total_working_years=1, training_ly=3, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=109, name='Stephanie Forbes', involvement='Very High', performance='Excellent', environment='Low', satisfaction=3, life_balance=2, age=41, travel=0, department='Research & Development', distance_home=16, education='Below College', education_field='Medical', gender='Female', job_level=1, role='Research Scientist', marital_status=2, income=1520.0, previous_companies=1, salary_hike=11, stock_option=1, total_working_years=8, training_ly=3, years_company=8, last_promotion=7, years_curr_manager=7)
Pandas(id_employee=111, name='Melissa Day', involvement='Medium', performance='Outstanding', environment='High', satisfaction=3, life_balance=3, age=40, travel=0, department='Research & Development', distance_home=8, education='Bachelor', education_field='Medical', gender='Female', job_level=1, role='Healthcare Representative', marital_status=3, income=2014.0, previous_companies=2, salary_hike=20, stock_option=0, total_working_years=8, training_ly=2, years_company=6, last_promotion=1, years_curr_manager=0)
Pandas(id_employee=113, name='Mr. Gary Miller', involvement='High', performance='Excellent', environment='High', satisfaction=1, life_balance=2, age=21, travel=2, department='Human Resources', distance_home=12, education='College', education_field='Human Resources', gender='Male', job_level=1, role='Laboratory Technician', marital_status=2, income=1483.0, previous_companies=1, salary_hike=12, stock_option=1, total_working_years=1, training_ly=2, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=121, name='Terry Wise', involvement='High', performance='Outstanding', environment='Low', satisfaction=3, life_balance=2, age=34, travel=0, department='Research & Development', distance_home=7, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=1, role='Sales Representative', marital_status=3, income=1958.0, previous_companies=8, salary_hike=25, stock_option=0, total_working_years=9, training_ly=3, years_company=5, last_promotion=0, years_curr_manager=4)
Pandas(id_employee=125, name='Anthony Russell', involvement='High', performance='Excellent', environment='High', satisfaction=3, life_balance=2, age=26, travel=0, department='Sales', distance_home=14, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=2, role='Manager', marital_status=3, income=1832.0, previous_companies=0, salary_hike=18, stock_option=2, total_working_years=7, training_ly=3, years_company=6, last_promotion=0, years_curr_manager=4)
Pandas(id_employee=128, name='Adam Shaffer', involvement='Medium', performance='Excellent', environment='High', satisfaction=1, life_balance=2, age=30, travel=1, department='Sales', distance_home=3, education='College', education_field='College', gender='Marketing', job_level=3, role='Research Scientist', marital_status=2, income=1128.0, previous_companies=9, salary_hike=19, stock_option=0, total_working_years=3, training_ly=2, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=148, name='Sarah Obrien', involvement='High', performance='Excellent', environment='Low', satisfaction=1, life_balance=1, age=25, travel=0, department='Research & Development', distance_home=5, education='College', education_field='Life Sciences', gender='Female', job_level=3, role='Laboratory Technician', marital_status=3, income=1485.0, previous_companies=5, salary_hike=13, stock_option=0, total_working_years=6, training_ly=3, years_company=2, last_promotion=0, years_curr_manager=2)
Pandas(id_employee=157, name='Dean Estrada', involvement='Medium', performance='Excellent', environment='Low', satisfaction=3, life_balance=3, age=24, travel=0, department='Research & Development', distance_home=27, education='College', education_field='Medical', gender='Male', job_level=1, role='Research Scientist', marital_status=2, income=2170.0, previous_companies=1, salary_hike=17, stock_option=0, total_working_years=6, training_ly=0, years_company=5, last_promotion=1, years_curr_manager=4)
Pandas(id_employee=158, name='James Willis', involvement='High', performance='Outstanding', environment='Very High', satisfaction=1, life_balance=1, age=34, travel=0, department='Research & Development', distance_home=5, education='Bachelor', education_field='Medical', gender='Male', job_level=2, role='Research Scientist', marital_status=2, income=1679.0, previous_companies=0, salary_hike=20, stock_option=0, total_working_years=3, training_ly=3, years_company=2, last_promotion=1, years_curr_manager=0)
Pandas(id_employee=164, name='Joseph Dominguez', involvement='Medium', performance='Excellent', environment='High', satisfaction=1, life_balance=2, age=29, travel=0, department='Research & Development', distance_home=19, education='Master', education_field='Life Sciences', gender='Male', job_level=3, role='Research Scientist', marital_status=3, income=1282.0, previous_companies=5, salary_hike=16, stock_option=0, total_working_years=6, training_ly=4, years_company=2, last_promotion=1, years_curr_manager=1)
Pandas(id_employee=165, name='Robert Howard', involvement='High', performance='Excellent', environment='Low', satisfaction=1, life_balance=1, age=19, travel=2, department='Research & Development', distance_home=4, education='Bachelor', education_field='Bachelor', gender='Medical', job_level=1, role='Sales Executive', marital_status=2, income=1668.0, previous_companies=1, salary_hike=15, stock_option=1, total_working_years=1, training_ly=2, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=178, name='Debra Farley', involvement='Medium', performance='Outstanding', environment='Medium', satisfaction=3, life_balance=1, age=33, travel=0, department='Research & Development', distance_home=10, education='Bachelor', education_field='Life Sciences', gender='Female', job_level=4, role='Research Director', marital_status=3, income=2434.0, previous_companies=7, salary_hike=22, stock_option=2, total_working_years=15, training_ly=2, years_company=7, last_promotion=7, years_curr_manager=7)
Pandas(id_employee=179, name='Dustin Gilbert', involvement='High', performance='Outstanding', environment='Low', satisfaction=3, life_balance=3, age=33, travel=0, department='Sales', distance_home=5, education='Master', education_field='Marketing', gender='Male', job_level=2, role='Research Director', marital_status=2, income=2175.0, previous_companies=7, salary_hike=25, stock_option=0, total_working_years=8, training_ly=5, years_company=4, last_promotion=1, years_curr_manager=3)
Pandas(id_employee=182, name='Samantha Garrett', involvement='Medium', performance='Excellent', environment='Low', satisfaction=1, life_balance=2, age=31, travel=0, department='Research & Development', distance_home=26, education='College', education_field='College', gender='Medical', job_level=2, role='Sales Executive', marital_status=2, income=1534.0, previous_companies=3, salary_hike=15, stock_option=0, total_working_years=12, training_ly=2, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=183, name='Willie Rodgers', involvement='Very High', performance='Outstanding', environment='Medium', satisfaction=3, life_balance=2, age=34, travel=0, department='Sales', distance_home=17, education='Below College', education_field='Marketing', gender='Male', job_level=1, role='Research Director', marital_status=2, income=1331.0, previous_companies=9, salary_hike=22, stock_option=0, total_working_years=11, training_ly=5, years_company=3, last_promotion=0, years_curr_manager=2)
Pandas(id_employee=186, name='Gail Torres', involvement='High', performance='Excellent', environment='High', satisfaction=1, life_balance=3, age=22, travel=0, department='Research & Development', distance_home=7, education='Bachelor', education_field='Medical', gender='Female', job_level=2, role='Laboratory Technician', marital_status=2, income=1747.0, previous_companies=5, salary_hike=13, stock_option=0, total_working_years=4, training_ly=2, years_company=2, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=196, name='Carrie Walker', involvement='High', performance='Excellent', environment=nan, satisfaction=3, life_balance=4, age=26, travel=0, department='Research & Development', distance_home=2, education='Below College', education_field='Life Sciences', gender='Female', job_level=2, role='Laboratory Technician', marital_status=3, income=2263.0, previous_companies=0, salary_hike=12, stock_option=2, total_working_years=8, training_ly=3, years_company=7, last_promotion=1, years_curr_manager=0)
Pandas(id_employee=200, name='Phillip Jacobs', involvement='Very High', performance='Excellent', environment='Medium', satisfaction=1, life_balance=3, age=18, travel=0, department='Research & Development', distance_home=2, education='Bachelor', education_field='Bachelor', gender='Technical Degree', job_level=1, role='Sales Executive', marital_status=3, income=1673.0, previous_companies=1, salary_hike=18, stock_option=1, total_working_years=0, training_ly=4, years_company=0, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=206, name='Erin Bell', involvement='Low', performance='Outstanding', environment='High', satisfaction=1, life_balance=3, age=26, travel=1, department='Sales', distance_home=1, education='Bachelor', education_field='Bachelor', gender='Marketing', job_level=2, role='Manufacturing Director', marital_status=1, income=1430.0, previous_companies=1, salary_hike=22, stock_option=0, total_working_years=1, training_ly=3, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=212, name='Kimberly Combs', involvement='Medium', performance='Outstanding', environment='Very High', satisfaction=3, life_balance=1, age=32, travel=0, department='Research & Development', distance_home=7, education='College', education_field='Life Sciences', gender='Female', job_level=2, role='Research Director', marital_status=3, income=1634.0, previous_companies=8, salary_hike=22, stock_option=0, total_working_years=6, training_ly=4, years_company=4, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=222, name='Tyler Campbell', involvement='High', performance='Outstanding', environment='Low', satisfaction=4, life_balance=2, age=24, travel=0, department='Research & Development', distance_home=2, education='Bachelor', education_field='Medical', gender='Male', job_level=2, role='Research Scientist', marital_status=2, income=1779.0, previous_companies=1, salary_hike=21, stock_option=2, total_working_years=6, training_ly=3, years_company=6, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=223, name='Cody Tyler', involvement='High', performance='Excellent', environment='Medium', satisfaction=1, life_balance=3, age=30, travel=2, department='Research & Development', distance_home=10, education='Bachelor', education_field='Bachelor', gender='Other', job_level=2, role='Healthcare Representative', marital_status=3, income=1720.0, previous_companies=1, salary_hike=14, stock_option=0, total_working_years=1, training_ly=2, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=225, name='Patricia Knight', involvement='Medium', performance='Excellent', environment='Medium', satisfaction=4, life_balance=4, age=31, travel=0, department='Research & Development', distance_home=9, education='Below College', education_field='Medical', gender='Female', job_level=1, role='Sales Representative', marital_status=2, income=1804.0, previous_companies=2, salary_hike=12, stock_option=0, total_working_years=9, training_ly=2, years_company=3, last_promotion=1, years_curr_manager=2)
Pandas(id_employee=238, name='Matthew Sherman MD', involvement='High', performance='Excellent', environment='High', satisfaction=4, life_balance=3, age=27, travel=0, department='Sales', distance_home=27, education='Bachelor', education_field='Life Sciences', gender='Male', job_level=2, role='Research Scientist', marital_status=3, income=1399.0, previous_companies=0, salary_hike=18, stock_option=0, total_working_years=5, training_ly=0, years_company=4, last_promotion=0, years_curr_manager=2)
Pandas(id_employee=247, name='Manuel Douglas', involvement='High', performance='Excellent', environment='Low', satisfaction=1, life_balance=3, age=45, travel=2, department='Research & Development', distance_home=22, education='Master', education_field='Master', gender='Life Sciences', job_level=3, role='Research Director', marital_status=3, income=1667.0, previous_companies=2, salary_hike=13, stock_option=0, total_working_years=5, training_ly=5, years_company=1, last_promotion=0, years_curr_manager=0)
Pandas(id_employee=256, name='Ryan Davis', involvement='Medium', performance='Excellent', environment='Very High', satisfaction=1, life_balance=3, age=20, travel=2, department='Research & Development', distance_home=1, education='Bachelor', education_field='Bachelor', gender='Life Sciences', job_level=5, role='Sales Representative', marital_status=3, income=1611.0, previous_companies=1, salary_hike=12, stock_option=1, total_working_years=1, training_ly=2, years_company=1, last_promotion=1, years_curr_manager=1)