In [2]:
#Importamos la librerías y variables necesarias
import mysql.connector
import pandas as pd
from flask import Flask, jsonify, request
import os
#################################################################################
#################################################################################
"""Definimos las variables generales para atacar la base de datos"""
#Definimos un cursor con el que atacar a la DB
cnx = mysql.connector.connect(
    user="root",
    password="TheBridge2022",
    host="127.0.0.1",
    database="apuestas"
)
cursor = cnx.cursor()
#Definimos una función mediante la que ejecutar las querys devolviendo un dataframe
def make_query(code):
    cursor.execute(code)
    results = cursor.fetchall()
    column_names = [desc[0] for desc in cursor.description]  # Obtener los nombres de las columnas
    df = pd.DataFrame(results, columns=column_names)  # Crear el DataFrame
    return df.to_json(orient="split",index=False)

In [3]:
make_query("SELECT * FROM hola")

ProgrammingError: 1146 (42S02): Table 'apuestas.hola' doesn't exist